
main {
	padding: 10px;
	margin-top:  -30px;
}

h1.page-title {
	display: none;
}

#defaults {
	text-align: center;
}

#defaults label {
	min-width:  120px;
	display: inline-flex;
}



#current {
	text-align: center;
	width:  120px;
	margin: 8px auto;
	padding: 8px 0;
}

#player {
	font-size: 32px;
	text-align: center;

}

#leg {
	text-align: center;
	padding: 0 0 8px 0;
}

input {
	width:  200px;
}

.input {
	font-size:  24px;
	height:  24px;
	width:  100%;
	border:  1px solid #ccc;
	border-radius: 4px;
	margin: 10px 0;
}

#legscore {
	width:  25%;
	margin: 0 auto;
	text-align: center;
}

#numpad {
	display:  grid;
	grid-template-columns: 1fr;
	gap:  10px;
}

.numpad-row, .numpad-row.c5 {
	display:  grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap:  10px;
}

.numpad-row.c3 {
	grid-template-columns: 1fr 1fr 1fr;
}

.numpad-row.c4 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.numpad-row.last {
	display:  grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap:  10px;
}

.button:first-child, .button {
	margin: 0 !important;
	height: 60px;
	border-radius: 4px;
	background: #ccc;
	position: relative;
	font-weight: bold;
	font-size: 24px;
}

.button.predefined-score {
	background: #999;
}

.button.clear {
	background: red;
	color:  #fff;
	background-image: url(../img/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 70px;
}

.button.undo {
	background: orange;
	color:  #fff;
	background-image: url(../img/arrow-undo.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 70px;
}

.button.send {
	background: green;
	color:  #fff;
	background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 30px;
}

.button.txt {
	width:  100px;
}



.button span {
	position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#delete-cookies {
	font-size: 24px;
	text-align: center;
	margin: 104px auto 0;
	background: green;
	color:  #fff;
	width:  240px;
	height:  64px;
	line-height: 66px;
	cursor: pointer;
}

@-webkit-keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.5s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
}



#general-round {
	margin: 10px auto;
    width: fit-content;
}

/* reference to your avg */
#general-avg-status {
	position: relative;
}

#gas-statusbar {
	background: #e28743;
	width:  100%;
	height:  10px;
	margin-top: 3px;
}

#gas-point-avg, #gas-point-current {
	height:  10px;
	width:  0;
	position: absolute;
}

#gas-point-avg {
	width:  120px;
	background: green;
}

#gas-point-current {
	left:  30px;
	border-right:  5px solid #fff;
}

#gas-point-current::before {
	content: "";
    margin-top: -15px;
    margin-left: -6px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 8px 0 8px;
    border-color: #ffffff transparent transparent transparent;
}
/* */



#log {
	display: none;
}

#log-data {
	margin: 20px;
    font-size: 24px;
}

.log-row {
	display: flex;
	gap:  10px;
}

.log-row:nth-child(2) {
	display: none;
}

.log-row > div {
	min-width: 60px;
	text-align: right;
}

.log-row .round-stat {
	border:  1px solid #ccc;
	padding:  2px;
	margin:  4px 0;
	min-width: 180px;
}

.bar {
	background: red;
	height: 4px;
}

.set {
	background: green;
	border-radius: 20px;
	padding: 6px;
	width: 70px;
	height: fit-content;
	text-align: center;
	font-size: 24px;
	color: #fff;
}

.button.active {
	background: red;	
}

.multiple-button {
	margin: 0 !important;
	height: 60px;
	border-radius: 4px;
	background: #ccc;
	position: relative;
	font-weight: bold;
	font-size: 24px;
}

.multiple-button span {
	position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.multiple-button.simple {
	background: red;
}

.multiple-button.double {
	background: orange;
}

.multiple-button.triple {
	background: green;
}

#score {
	display: flex;
	justify-content: center;
	column-gap: 10px;
	padding-bottom: 10px;
}

#double {
	background: red;
	border-radius: 20px;
	padding: 6px;
	width: 70px;
	text-align: center;
	font-size: 24px;
	color: #fff;
}

#throws {
	display: flex;
	gap:  12px;
}

#throws-left {
	display: flex;
	gap:  12px;
	justify-content: center;
	padding-bottom: 10px;
}

.dot {
	border-radius: 10px;
	width: 20px;
	height: 20px;
	background: #444;
}

.dot.active {
	background: green;
}

#tip {
	padding: 40px;
	position: absolute;
	background: rgb(255,255,255,0.7);
	width: 70vw;
	height: 10vh;
	border: 1px solid #ccc;
	left: 0; 
  	right: 0; 
  	margin-left: auto; 
  	margin-right: auto;
  	top: 40vh;
    z-index: 1000;
    display: none;
    gap:  24px;
    justify-content: center;
}

#tip .set {
	background: #aaa;
}

.numpad-row.c5 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

