.draw {
	width: fit-content;
	margin:  0 0 0 15px;
}

#edit-players {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cell {
	border:  1px solid #ccc;
	padding:  6px;
	width:  150px;
	text-align: center;
}

.cell.name {
	background: #03348a;
	color:  #fff;
}

.cell a {
	text-decoration: none;
	font-weight: bold;
	color:  #f55d42;
}

.remove-player {
	display: none;
}

.header-x, .row {
	display:  flex;
}

.header-x .cell:nth-child(1) {
	border: 1px solid #fff;
}

.brick {
	background: #aaa;
}

.form-item-data {
	display:  none;
}

#draw-container.form .cell.function {
	display:  none;
}

#draw-container.form .cell a {
	display: none;
}




@media only screen and (max-width: 600px) {

#edit-players {
	display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

}