.blur {
	width:  100%;
	height:  300%;
	display:  block;
	position: absolute;
	left:  0;
	top:  0;
	background: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(6px);
	z-index: 700;
}

body .messages {
	display:  none;
}

body.user-logged-in .messages {
	display: block;
}

header {
	width:  200px;
	margin: 0 auto;
	color:  #fff;
}

header img {
	max-width: 100%;
}

#menu {
	text-align: center;
	font-size: 24px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	z-index: 700;
}

#menu a {
	background: orange;
	border-radius: 4px;
	width:  fit-content;
	padding: 10px 20px;
	color:  #fff;
	text-decoration: none;
	display: block;
	margin: 10px;
}


#menu .sub-menu {

}

#menu .menu-label {
	background: #325aa8;
    border-radius: 4px;
    width: fit-content;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 10px;
    cursor: pointer;
}


#menu .sub-menu {
	position: absolute;
}

.page-title {
	display: none;
}

#start {
	margin:  24px 0;
	font-size:  24px;
	background-color:  green;
	color:  #fff;
	border-radius: 4px;
	height:  60px;
	text-transform: uppercase;
	border:  none;
}


@media only screen and (max-width: 600px) {
	#menu {

	}
}