<div id="menu">
	<a href="/darts/game">GAME</a>
	<a href="/darts/game/gamedata">TOURNAMENTS</a>
	<a href="/darts">TRAINING</a>
	<a href="/darts/stat/30">PERSONAL STATS</a>
	<a href="/darts/generalstat">BEST OF</a>
	<a href="/darts/where">VAKTESZT</a>
	
	<a href="/darts/drawform">SORSOLÁS</a>
</div>
